     h1 {
        text-align: center;
      }

      .first {
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(235, 200, 84);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 200px;
        display: block;
      }

      .second {
        background-color: rgb(219, 219, 219);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
        display: inline-block;
       margin-left: 310px;
      }

      .third {
        background-color: rgb(170, 142, 106);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
        display: inline-block;
        
      }

      h3 {
        text-align: center;
      }

      .premio1 {
        display: inline;
        
      }

    .premio2 {
        margin-left: 300px;
       
    }

    
